<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.apache.org//dtd mapper 3.0//en"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

        <!--Unit02的知识点-->

<!--每个实例和实体的访问接口对应一个映射（mapper）文件-->
<!--namespace的值是实体访问接口的类名，不能错-->
<mapper namespace="version01.dao.EmpDao">

    <!--根据部门查询员工，若部门条件不为空，则将部门条件拼入SQL，否则不拼入-->
    <select id="findByDept" parameterType="version01.entity.Condition" resultType="version01.entity.Emp">
        select * from t_emp
        <if test="deptno!=null">where deptno=#{deptno}</if>
    </select>

    <!--查询高于当前工资的员工-->
    <!--SQL的业务逻辑，这里举例例如：-->
    <!--如果传入的工资大于3000，则查询工资高于传入工资的员工-->
    <!--如果传入的工资小于等于3000，则查询工资高于3000的员工-->
    <select id="findBySalary" parameterType="version01.entity.Condition" resultType="version01.entity.Emp">
        select * from t_emp
        <choose>
            <when test="salary>3000">
                where sal>#{salary}
            </when>
            <otherwise>
                where sal>=3000
            </otherwise>
        </choose>
    </select>

    <!--根据多个条件查询员工，拼入多个查询条件-->
    <!--哪个条件不为空，就拼入SQL-->
    <!--<select id="findByCondiction" parameterType="version01.entity.Condition" resultType="version01.entity.Emp">-->
        <!--select * from t_emp where 1=1-->
        <!--<if test="deptno!=null">-->
            <!--and deptno=#{deptno}-->
        <!--</if>-->
        <!--<if test="salary!=null">-->
            <!--and sal>#{salary}-->
        <!--</if>-->
    <!--</select>-->
    <!--以上的这种技术处理多个where条件的拼接，在mybatis有相同作用的支持方式-->
    <select id="findByCondition" parameterType="version01.entity.Condition" resultType="version01.entity.Emp">
        select * from t_emp
        <where>
            <if test="deptno!=null">
                and deptno=#{deptno}
            </if>
            <if test="salary!=null">
                and sal>#{salary}
            </if>
        </where>
    </select>

    <!--修改员工-->
    <!--传入的对象中，哪个属性不为空，则将其拼入update语句，否则不拼入-->
    <!--和where语句一样，只能有一个set，因此用if的时候，不能带set，也要用set表示范围，属性之间有逗号，所以加上-->
    <update id="update" parameterType="version01.entity.Emp">
        update t_emp
        <set>
            <if test="ename!=null">
                ename=#{ename,jdbcType=VARCHAR},
            </if>
            <if test="job!=null">
                job=#{job,jdbcType=VARCHAR},
            </if>
            <if test="mgr!=null">
                mgr=#{mgr,jdbcType=NUMERIC},
            </if>
            <if test="sal!=null">
                sal=#{sal,jdbcType=NUMERIC},
            </if>
        </set>
        where empno=#{empno}
    </update>

    <select id="findByCondition2" parameterType="version01.entity.Condition" resultType="version01.entity.Emp">
        select * from t_emp
        <trim prefix="where" prefixOverrides="and">
            <if test="deptno!=null">
                and deptno=#{deptno}
            </if>
            <if test="salary!=null">
                and sal>#{salary}
            </if>
        </trim>
    </select>

    <update id="update2" parameterType="version01.entity.Emp">
        update t_emp
        <trim prefix="set" suffixOverrides=",">
            <if test="ename!=null">
                ename=#{ename,jdbcType=VARCHAR},
            </if>
            <if test="job!=null">
                job=#{job,jdbcType=VARCHAR},
            </if>
            <if test="mgr!=null">
                mgr=#{mgr,jdbcType=NUMERIC},
            </if>
            <if test="sal!=null">
                sal=#{sal,jdbcType=NUMERIC},
            </if>
        </trim>
        where empno=#{empno}
    </update>

    <!--根据一组员工ID，查询出其对应的员工数据-->
    <select id="findByIds" parameterType="version01.entity.Condition" resultType="version01.entity.Emp">
        select * from t_emp where empno in
        <foreach collection="empnos" item="empno" open="(" close=")" separator=",">
            #{empno}
        </foreach>
    </select>

    <!--Unit04增加的内容-->

    <!--第一种关联查询方法-->
    <!--根据ID查询员工，同时自动查出部门，多对一嵌套查询映射。-->
    <select id="findById_WithDept_BySubSelect" parameterType="java.lang.Integer" resultMap="empMap">
        select * from t_emp where empno=#{id}
    </select>
    <!--为了实现多对一映射，还需要一个查询部门的SQL-->
    <!--以往用resultType封装，也就是直接写Emp类型；现在用resultMap封装，要在resultMap节点写Emp类型并声明关联信息-->
    <select id="findDept" parameterType="java.lang.Integer" resultType="version01.entity.Dept">
        select * from t_dept where deptno=#{deptno}
    </select>
    <!--最后要把这两个SQL装配成一个对象，用resultMap实现-->
    <!--用于将查询到的结果集映射成实体对象，以前写的是resultMap和result子节点，现在多了association-->
    <resultMap id="empMap" type="version01.entity.Emp">
        <!--association声明这是一个关联属性——0、发现有这个节点，就会进行一次关联查询-->
        <!--
            property指定 关联属性名——4、封装后赋予给属性
            column指定了 关联字段名——1、将会根据这个字段，进行关联查询
            javaType指定了 查询到的关联属性用哪种类型封装——3、查询后封装
            select指定 查询关联数据的SQL（标签的id）——2、关联查询
        -->
        <association property="dept" column="deptno" javaType="version01.entity.Dept" select="findDept"/>
    </resultMap>

    <!--第二种关联查询方法-->
    <!--区别在于不需要第二次查询-->
    <select id="findById_WithDept_ByJoin" parameterType="java.lang.Integer" resultMap="empMapByJoin">
        select e.*,d.* from t_emp e inner join t_dept d
        on e.deptno=d.deptno
        where e.empno=#{id}
    </select>
    <!--为什么用resultMap？如果不用，属性名就和字段名同名，如果希望不同名，就可以用resultMap自定义映射-->
    <!--此外，resultMap的第二个功能就是映射关联查询的属性-->
    <!--将查询到的结果集映射成实体对象-->
    <resultMap id="empMapByJoin" type="version01.entity.Emp">
        <!--低版本无效：由于员工表中的字段和员工实体类的属性名一致，可以省略这些result配置-->
        <id property="empno" column="empno"></id>
        <result property="ename" column="ename"/>
        <result property="job" column="job"/>
        <result property="mgr" column="mgr"/>
        <result property="hiredate" column="hiredate"/>
        <result property="sal" column="sal"/>
        <result property="comm" column="comm"/>
        <result property="deptno" column="deptno"/>
        <association property="dept" column="deptno" javaType="version01.entity.Dept">
            <id property="deptno" column="deptno"></id>
            <!--低版本无效：由于部门表中字段和部门实体类的属性名一致，以下也是可以缺省的-->
            <id property="deptno" column="deptno"/>
            <result property="dname" column="dname"/>
            <result property="loc" column="loc"/>
        </association>
    </resultMap>
</mapper>